
/* formula */
/* 1344px / 16 == 84em */



/**************************/
/* BELOW 140px (Landscape Tablets) */
/**************************/
@media (max-width: 90em) {

    html {
        /* 9px / 16px  */
        font-size: 56.25%;
      }
  
  }

  

/**************************/
/* BELOW 1278px (Landscape Tablets) */
/**************************/
@media (max-width: 80em) {
 
    html {
        /* 8px / 16px  */
        font-size: 50%;
      }
  
  }

  
/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
 
    html {
        font-size: 45%;
      }


      :root{
        /* size  */
        /*  16 21 32 46 64 */
        /* =font-size= */
      --main-title:7.5rem;
      --heading:4.6rem;
      --sub-heading:3.2rem;
      --sub-x-heading:3.0rem;
      --paragram:2.1rem;
      --small-text:2rem;
      /* font-fam */
    
      --roboto:'Roboto', sans-serif;
      --ptmono:'PT Mono', monospace;
    }

  
  }


/**************************/
/* BELOW 1080px (Landscape Tablets) */
/**************************/
@media (max-width: 67.5em) {
 
    html {
        font-size: 43%;
      }


      :root{
      --main-title:7rem;
      --roboto:'Roboto', sans-serif;
      --ptmono:'PT Mono', monospace;
    }

    .skills_section {
        width: 90%;
        margin: 0 auto;
    }

    .icon_container div {
        width: 60%;
    }
  
  }


/**************************/
/* BELOW 960px
/**************************/
@media (max-width: 60em) {
 
    html {
        font-size: 38%;
      }


      :root{
      --main-title:6.8rem;
      --roboto:'Roboto', sans-serif;
      --ptmono:'PT Mono', monospace;
    }

    .skills_section {
        width: 95%;
        margin: 0 auto;
    }

    textarea{
     height: 25rem;
    }

    .box{
        width: 56%;
    }

    .icon_container div {
        width: 60%;
    }
  
  }


  .icon {
    width: 50%;
   }

/**************************/
/* BELOW 870px
/**************************/

@media (max-width: 54em) {
 
    html {
        font-size: 33%;
      }


      :root{
        --main-title:8.4rem;
      --roboto:'Roboto', sans-serif;
      --ptmono:'PT Mono', monospace;
    }

    .skills_section {
        width: 95%;
        margin: 0 auto;
    }

    textarea{
     height: 20rem;
    }

    .box{
        width: 100%;
    }

    .icon_container div {
        width: 60%;
    }


    .hero-img {
      width: 40%;
    }
  
  }

/* 
 */


 /**************************/
/* BELOW 680px
/**************************/

@media (max-width: 43em) {
 
  html {
      font-size: 30%;
    }


    :root{
    --main-title:7.5rem;
    --heading:4.6rem;
    --sub-heading:3.2rem;
    --sub-x-heading:3.0rem;
    --paragram:2.1rem;
    --small-text:2rem;
    /* font-fam */
  
    --roboto:'Roboto', sans-serif;
    --ptmono:'PT Mono', monospace;
  }


  .skills_section {
      width: 95%;
      margin: 0 auto;
  }

  textarea{
   height: 20rem;
  }

  .box{
      width: 56%;
  }

  .icon_container div {
      width: 70%;
      gap: 8rem;
  }

  .hero-img {
    width: 50%;
  }

  .box {
    width: 100%;
 }

}


/* ====================== */
/* mobile */
/* ====================== */


@media (max-width: 36.4em) {


  :root{
    --main-title:7.5rem;
    --heading:4.6rem;
    --sub-heading:3.2rem;
    --sub-x-heading:3.0rem;
    --paragram:2.3rem;
    --small-text:3rem;
    /* font-fam */
  
    --roboto:'Roboto', sans-serif;
    --ptmono:'PT Mono', monospace;
  }

  .hero-img{
    display: none;
  }

  .line {
    border:none;
}

  .skills-row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills-col {
    width: 80%;
    margin-top: 10rem;
   }

   .icon {
    width: 30%;
  }  
  
  .about-row{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
  }

  .about-col {
    width: 100%;
  }

  .left {
    width: 60rem;
    height: 60rem;
  }

  .project-row{
    display: flex;
    flex-direction: column;
  }

  .box-container {
    width: 90%;
    margin: 0 auto;

  }

  .project-row{
    display: flex;
    justify-content: center;
  }

  .contact-container{
    display: flex;
    flex-direction: column;
  }

  form {
    width: 90%;
    margin: 0 auto;
  }

  .social {
    width: 80%;
  }

  .footer-text {
    font-size: 2rem;
  }
  
  .footer-text {
    font-size: 3.5rem;
  }
  .icon-container img:nth-child(4) {
    display: none;
   }
}

/* ===================== */
  /* Mobile() */
/* ===================== */


@media (max-width: 30em) {

  :root{
    --main-title:7.5rem;
    --heading:6.2rem;
    --sub-heading:3.2rem;
    --sub-x-heading:4.0rem;
    --paragram:1.9rem;
    --small-text:3rem;
    /* font-fam */
  
    --roboto:'Roboto', sans-serif;
    --ptmono:'PT Mono', monospace;
  }


  h1 {
    font-size: var(--heading);
    font-family: var(--roboto);
    font-weight: 700;
    margin-bottom: 8rem;
  }


  .contact-title-box {
    width: 100%;
    text-align: center;
    margin-bottom:6rem;
  }

  ul{
    width: 40%;
  }

  .nav_container img{
    height: 24px;
  }


  .about-col {
    width: 100%;
}

  .form-1 {
    width: 45%;
    height: 3.4rem;
    padding: 1rem;
  }


  .icon-container {
    width: 0%;
  }
  .icon-container img:nth-child(4) {
    display: none;
   }

  .icon {
    width: 50%;
  }

}
