

html{
    font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto:wght@400;500;700&display=swap');

:root{
    /* size  */
    /*  16 21 32 46 64 */
    /* =font-size= */
  --main-title:8.2rem;
  --heading:4.6rem;
  --sub-heading:3.2rem;
  --sub-x-heading:3.0rem;
  --paragram:2.1rem;
  --small-text:2rem;
  /* font-fam */

  --roboto:'Roboto', sans-serif;
  --ptmono:'PT Mono', monospace;
}



*{
    margin: 0;
    padding: 0;
    background-origin:border-box;
}

a{
    text-decoration: none;
}

/* =============== here section ===========  */

nav{
    width:100%;
    background-color: #131B23;
}

.nav_container{
    width: 94%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.nav_container img{
    width: 26,8rem;
    height: 3rem;
}

ul{
    
    width: 25%;
    display: flex;
    margin: 2rem 0;
    justify-content: space-between;
}
ul li{
  list-style: none;
}

ul li a{
    font-family: var(--roboto);
    font-size: var(--small-text);
    font-weight: 500;
    text-decoration: none;
    color: white;
    border-bottom: solid 4px #FF664E;
}

.hero{
    width: 100%;
    height: 90vh;
    color: white;
    background-color: #131B23;
    display: flex;
    align-items: center;
    position:relative;
}

.hero h1{
     font-size: var(--l-500);
    font-weight: 600;
    margin-left: 100px;
}
.icon-container{
    width: 0%;
}


.icon-container img{
    position:absolute;

}

.icon-container img:nth-child(1){
    top: 10%;
    left: 15%;
    animation: animate 7s linear infinite;
}
.icon-container img:nth-child(2){
    top: 20%;
    left: 50%;
    animation: animate 7s linear infinite 4s;
}

.icon-container img:nth-child(3){
    top: 85%;
    left:30%;
    animation: animate 7s linear infinite;
}

.icon-container img:nth-child(4){
    top: 40%;
    left: 60%;
    animation: animate 7s linear infinite 4s;
}
.icon-container img:nth-child(5){
    top: 90%;
    left: 5%;
    animation: animate 7s linear infinite ;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1) translateY(-90px) rotate(360deg);
        opacity: 0;
    }

}


.title-web{
    padding: 0 5px;
    background: linear-gradient(
        to bottom,
        transparent 50%,
        #FF664E 50%,
    );
}

/* ============  about section ================ */
.container{
    width: 100%;
    background-color: #131B23;
    padding-bottom: 100px;
    color: white;
}

.about_section{
    max-width: 85%;
    margin: 0 auto;
}

h1{
    font-size: var(--l-500);
    font-weight: 600;
    text-align: center;
}
.about-col h2{
    font-size: var(--sub-heading);
    font-family: var(--ptmono);
    margin-bottom: 4rem;
}
.about-col p{
    font-size: var(--paragram);
}

.p-top{
    margin-top: 2rem;
}



.about-row{
    display: flex;
    margin-top: 6rem;  
}
.about-col{
    width: 50%;  
}

button{
    border: none;
    padding: 0.8rem;
    background-color: #FF664E;
    font-weight: 800;
    color: white;
    border-radius: 10px;
    margin-top: 4.5rem;
}

.titel-col{
    color: rgb(255, 102, 78);
    color: #FF664E;
}

.about-col img{
    width: 80%;
}

.left{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
 
    background-image: url("./images/mypic-v.png");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 50%;
    height: 100%;
    animation: cycle 8s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

@keyframes cycle {
     0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
     }
     50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
     }
     100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
     }
}



/* =================== Skills section ================= */

.skills_section{
    width: 85%;
    margin: 0 auto;
}

.skills-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 6rem;
}

.skills-col{
    width: 30%;
    
}

.line{
    border-left: 5px solid #FF664E;
}

h3{
    text-align: center;
    font-size: var(--sub-x-heading);
    font-family: var(--ptmono);
}

.myName{
    width: 100%;
    font-size: var(--main-title);
    font-family: var(--roboto);
    font-weight: 700;
    margin-left: 9rem;
}



.icon_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon_container div{
    width: 50%; 
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
}

/*  */

.project-container {
    width: 80%;
    margin: 0 auto;
    /* background-color: #FF664E; */
}


.project-row{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}
.box-container{
    width: 30%;
    padding: 10px;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
    position: relative;
    box-shadow: insert 5px 5px  15px rgba(0, 0, 0, 0.15),
    insert -5px -5px 15px rgba( 255, 255, 255, 0.15),
    5px 5px 15px rgba(0, 0, 0, 0.15),
    -5px -5px 15px rgba(255, 255, 255, 0.15),
    
}


.box-container:hover{
    /* box-shadow: 5px 4px 5px 5px rgba(255, 102, 78,0.2), 5px 4px 8px 5px rgba(255, 102, 78,0.2);
    color: rgb(0, 48, 86); */
    box-shadow: rgba(255, 102, 78,0.5) 0px 5px 15px;

}
.box-container{
    box-shadow: rgba(0, 48, 86, 0.5) 0px 5px 15px;
}


.box-container div{
    width: 100%;
     
}
.box-container div img{
    border-radius: 40px;
    width: 100%;   
}

.box-container div img{
    width: 100%;
}

.btn{
    font-family: var(--roboto);
    background-color: #FF664E;
    padding: 0.5rem 1.5rem;
    color: white;
    cursor: pointer;
}


/* ========== contact form ======== */

.contact-title-box{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line-con{
    width: 200px;
    height: 0.3rem;
    background-color: #FF664E;
}

.contact-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}


form{
    width: 45%;
    display: flex;
    flex-direction: column;
}

form div{
    width: 100% ;
}

.form-row-1{
    width: 100% ;
    display: flex;
    justify-content: space-between;
}

.form-1{
    width: 45%;
    border-radius: 1rem;
    border: none;
    margin-top: 2rem;
    height: 2rem;
    padding: 1rem;
}


.form-2{
    width: 100%;
    border-radius: 1rem;
    border: none;
    margin-top: 2rem;
    height: 2rem;
    padding: 1rem;
}

.form-3{
    width: 100%;
    border-radius: 1rem;
    border: none;
    margin-top: 2rem;
    padding: 1rem;
   
}

.footer-text-box{
    width: 45;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-text{
     font-size: var(--paragram);
}
.footer-title{
    margin-bottom: 1rem;
}
.submit-btn{
    font-family: var(--roboto);
    padding: 10px 5px;
    border: none;
    background-color: #FF664E; 
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    margin-top:1.5rem;
}

textarea{
    resize: none;
}

/* ===== */

.social{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
}

.social-img{
   margin-right:0.8rem ;
}

.social p{
    display: flex;
    align-items: center;
}


.social p a{
    font-size: 2rem;
    color: #FF664E;
}


h1{
     font-size: var(--heading);
     font-family: var(--roboto);
     font-weight: 700;
     margin-bottom: 8rem;
}


h4{
    font-size: var(--small-text);
    font-family: var(--ptmono);
}


.hero-img{
    width: 30%;
}


.icon {
    width: 50%;
    margin: 0 1rem;
}









