*{
    margin: 0;
    padding: 0;
    background-origin:border-box;
}

nav{
    width:100%;
    background-color: #131B23;
}

.nav_container{
    width: 94%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.nav_container img{
    width: 268px;
    height: 30px;
}

ul{
    width: 300px;
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}
ul li{
  list-style: none;
}

ul li a{
    text-decoration: none;
    color: white;
    border-bottom: solid 4px #FF664E;
}

.hero{
    width: 100%;
    height: 90vh;
    font-size: 42px;
    color: white;
    background-color: #131B23;
    display: flex;
    align-items: center;
   
}

.hero h1{
    margin-left: 100px;
}


.icon-container img{
    position:absolute;

}

.icon-container img:nth-child(1){
    top: 160px;
    left: 210px;
    animation: animate 7s linear infinite;
}
.icon-container img:nth-child(2){
    top: 420px;
    left: 1000px;
    animation: animate 7s linear infinite 4s;
}

.icon-container img:nth-child(3){
    top: 500px;
    left: 610px;
    animation: animate 7s linear infinite;
}

.icon-container img:nth-child(4){
    top: 160px;
    left: 1110px;
    animation: animate 7s linear infinite 4s;
}
.icon-container img:nth-child(5){
    top: 500px;
    left: 1410px;
    animation: animate 7s linear infinite ;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1) translateY(-90px) rotate(360deg);
        opacity: 0;
    }

}


.title-web{
    padding: 0 5px;
    background: linear-gradient(
        to bottom,
        transparent 50%,
        #FF664E 50%,
    );
}

/* ============  about section ================ */
.container{
    width: 100%;
    background-color: #131B23;
    padding-bottom: 100px;
    color: white;
}

.about_section{
    width: 85%;
    margin: 0 auto;
}

h1{
    text-align: center;
    font-size: 48px;
}
.about-col h2{
    font-size: 32px;
    margin-bottom: 30px;
}
.about-col p{
    font-size: 20px;
}

.p-top{
    margin-top: 20px;
}



.about-row{
    display: flex;
    margin-top: 60px;  
}
.about-col{
    width: 50%;  
}

button{
    border: none;
    padding: 8px;
    background-color: #FF664E;
    font-weight: 800;
    color: white;
    border-radius: 10px;
    margin-top: 45px;
}

.titel-col{
    color: #FF664E;
}

.box{
    width: 60%;
    height: 100%;
    background-color: rgb(153, 143, 143);
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* =================== Skills section ================= */

.skills_section{
    width: 85%;
    margin: 0 auto;
}

.skills-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 60px;
}

.skills-col{
    width: 30%;
    
}

.line{
    border-left: 5px solid #FF664E;
}

h3{
    text-align: center;
    font-size: 28px;
}





