
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0E1A4A;
    color: #fff;
} 


@keyframes cycle {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }
  
  .animate-cycle {
    animation: cycle 8s ease-in-out infinite;
  }