
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bg-base: #05070F;
    --bg-elevated: #0A0E1C;
    --accent: #2BC1EA;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-base);
    color: #fff;
}


